<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
});
</script>
<template>
  <div class="hero">
    <div>
      <SlpContainer class="hero__container">
        <SlpRow>
          <SlpColumn :cols="5" class="hero__copy hero__col">
            <div
              :data-aos="data.aos_animation"
              :data-aos-duration="data.aos_duration"
              :data-aos-offset="data.aos_offset"
            >
              <SlpTypography tag="h1" variant="display1" class="title">
                {{ data.title }}
              </SlpTypography>
              <SlpTypography
                tag="p"
                variant="heading4"
                class="slp-pt-24 description"
              >
                {{ data.subtitle }}
              </SlpTypography>
              <SlpButton
                :href="data.button.href"
                variant="secondary"
                :data-ga-name="data.button.data_ga_name"
                :data-ga-location="data.button.data_ga_location"
                class="slp-mt-24 slp-mr-24"
              >
                {{ data.button.text }}
              </SlpButton>
              <SlpButton
                variant="tertiary"
                class="slp-mt-24 ghost-button"
                :data-ga-name="data.secondary_button.data_ga_name"
                :data-ga-location="data.secondary_button.data_ga_location"
                @click.native="
                  $emit('show-modal', data.secondary_button.video_url)
                "
              >
                {{ data.secondary_button.text }}
                <svg
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M14.875 7.875C14.875 4.01042 11.7396 0.875 7.875 0.875C4.01042 0.875 0.875 4.01042 0.875 7.875C0.875 11.7396 4.01042 14.875 7.875 14.875C11.7396 14.875 14.875 11.7396 14.875 7.875Z"
                    stroke="white"
                    stroke-width="1.5"
                    stroke-miterlimit="10"
                    fill="transparent"
                  />
                  <path
                    d="M6.42834 10.7348L10.601 8.21404C10.6592 8.17861 10.7072 8.12881 10.7406 8.06943C10.7739 8.01005 10.7915 7.94309 10.7915 7.87498C10.7915 7.80687 10.7739 7.73991 10.7406 7.68053C10.7072 7.62115 10.6592 7.57135 10.601 7.53592L6.42834 5.01519C6.36853 4.97936 6.30026 4.96008 6.23054 4.95934C6.16083 4.95859 6.09216 4.97641 6.0316 5.01095C5.97104 5.0455 5.92076 5.09554 5.88592 5.15593C5.85108 5.21632 5.83293 5.28489 5.83333 5.35462V10.3954C5.83293 10.4651 5.85108 10.5337 5.88592 10.594C5.92076 10.6544 5.97104 10.7045 6.0316 10.739C6.09216 10.7736 6.16083 10.7914 6.23054 10.7906C6.30026 10.7899 6.36853 10.7706 6.42834 10.7348Z"
                    fill="white"
                  />
                </svg>
              </SlpButton>
            </div>
          </SlpColumn>
          <SlpColumn :cols="7" size="lg" class="hero__col">
            <img
              :src="'/nuxt-images/software-faster/test-min.svg'"
              :alt="data.image.alt"
              :data-aos="data.image.aos_animation"
              :data-aos-duration="data.image.aos_duration"
              :data-aos-offset="data.image.aos_offset"
              loading="lazy"
              class="hero__col--image"
            />
          </SlpColumn>
        </SlpRow>
      </SlpContainer>
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import 'assets/css/animations';
.hero {
  background: $color-surface-700;
  color: $color-primary-300;
  overflow: hidden;

  &__col {
    height: 100%;
    min-height: 100%;
    width: 100%;
    position: relative;

    @media (max-width: $breakpoint-lg) {
      flex: 1 1 100%;
      width: 100%;

      .slp-btn {
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }

    &--image {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;

      transform: translate(20%, -25%) !important;

      @media (max-width: $breakpoint-md) {
        display: none;
      }
    }
  }

  &__copy {
    padding: $spacing-48 0;
    z-index: 1000;

    @media (min-width: $breakpoint-lg) {
      padding: $spacing-96 0;
    }
  }
}

.title {
  background: linear-gradient(90deg, #e2b6f1 0%, #7759c2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.ghost-button {
  color: $color-text-50;

  &:hover {
    text-decoration: underline;
  }

  &:hover svg {
    transition: transform 0.4s ease;
    transform: translateX($spacing-8);
  }

  svg {
    margin-left: $spacing-8;
  }
}
</style>
