<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  props: {
    icon: {
      type: String,
      required: true,
    },
  },
});
</script>

<template>
  <div class="icon__container">
    <svg
      v-if="icon === 'start'"
      width="26"
      height="26"
      viewBox="0 0 26 26"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M13 -1.1365e-06C20.1797 -1.76417e-06 26 5.8203 26 13C26 20.1797 20.1797 26 13 26C5.8203 26 -5.08827e-07 20.1797 -1.1365e-06 13C-1.76417e-06 5.8203 5.8203 -5.08827e-07 13 -1.1365e-06Z"
        fill="#9B51E0"
      />
      <path
        d="M10 17L10 6"
        stroke="white"
        stroke-width="1.5"
        stroke-linecap="round"
      />
      <path
        d="M16 17L16 13.8541C16 12.7178 15.358 11.679 14.3416 11.1708L10 9"
        stroke="white"
        stroke-width="1.5"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M11.25 18C11.25 18.6904 10.6904 19.25 10 19.25C9.30964 19.25 8.75 18.6904 8.75 18L8.75 16C8.75 15.3096 9.30964 14.75 10 14.75C10.6904 14.75 11.25 15.3096 11.25 16L11.25 18Z"
        fill="#9B51E0"
        stroke="white"
        stroke-width="1.5"
      />
      <path
        d="M17.25 18C17.25 18.6904 16.6904 19.25 16 19.25C15.3096 19.25 14.75 18.6904 14.75 18L14.75 16C14.75 15.3096 15.3096 14.75 16 14.75C16.6904 14.75 17.25 15.3096 17.25 16L17.25 18Z"
        fill="#9B51E0"
        stroke="white"
        stroke-width="1.5"
      />
    </svg>
    <svg
      v-else
      width="26"
      height="26"
      viewBox="0 0 26 26"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M13 -1.1365e-06C20.1797 -1.76417e-06 26 5.8203 26 13C26 20.1797 20.1797 26 13 26C5.8203 26 -5.08827e-07 20.1797 -1.1365e-06 13C-1.76417e-06 5.8203 5.8203 -5.08827e-07 13 -1.1365e-06Z"
        fill="#9B51E0"
      />
      <path
        d="M15.25 15C15.25 16.2426 14.2426 17.25 13 17.25C11.7574 17.25 10.75 16.2426 10.75 15L10.75 11C10.75 9.75736 11.7574 8.75 13 8.75C14.2426 8.75 15.25 9.75736 15.25 11L15.25 15Z"
        fill="#9B51E0"
        stroke="white"
        stroke-width="1.5"
      />
      <path
        d="M13 8.5L13 5"
        stroke="white"
        stroke-width="1.5"
        stroke-linecap="round"
      />
      <path
        d="M13 21L13 17.5"
        stroke="white"
        stroke-width="1.5"
        stroke-linecap="round"
      />
    </svg>
  </div>
</template>

<style lang="scss" scoped>
.icon__container {
  background: #9b51e0;
  border-radius: 50%;
  height: 26px;
  left: 50%;
  position: absolute;
  top: 0;
  transform: translate(-50%, -50%);
  width: 26px;
}
</style>
