<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
});
</script>

<template>
  <section>
    <SlpRow class="header-container">
      <SlpColumn :cols="5">
        <SlpTypography tag="h1" variant="heading1" class="header">{{
          data.header
        }}</SlpTypography>
      </SlpColumn>
      <SlpColumn
        :cols="7"
        class="description slp-text-base"
        v-html="$md.render(data.description)"
      />
    </SlpRow>
  </section>
</template>

<style lang="scss" scoped>
.header {
  font-size: 36px;
  line-height: 44px;
}
.header-container {
  padding: 50px 15px;
}
.description {
  font-size: 14px;
}
</style>
